<div ng-init="init()">
  <em>{{ model.url }}</em><br/><br/>
  <form>
    <label class="control-label" for="collection">Collection:</label>
    <select name="collection" id="collection" ng-model="model.collection" ng-options="c for c in fields.collection.value"></select>

    <label class="control-label" for="query">Query:</label>
    <input type="text" size="100" class="input-xxlarge" id="query" name="query" ng-model="model.query"/><br/>
    <button class="btn btn-primary" ng-click="search(model)">Search</button>
  </form>

    <!--<script type="text/ng-template" id="/search-form.html">
      <label class="control-label" for="collection">Collection:</label>
      <input type="text" size="45" id="collection" name="collection" ng-model="params.collection"/>

      <label class="control-label" for="query">Query:</label>
      <input type="text" size="100" class="input-xxlarge" id="query" name="query" ng-model="params.query"/><br/>
    </script>-->
</div>
