<!doctype html>
<html lang="en" ng-app="surface">
  <head>
    <meta charset="utf-8" />
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles/vendor/bootstrap-combined.min.css" rel="stylesheet">
    <link href="styles/web.css" rel="stylesheet" />
    <script src="scripts/vendor/angular.min.js"></script>
  </head>
  <body>

   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Surface Browser</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Explore your data</h1>

<div id="control-panel" ng-controller="MainCtrl" ng-init="init()">
  <form id="settings" class="form-inline">
    <label class="control-label" for="rootUrl">Surface URL:</label>
    <input type="text" size="60" class="input-xlarge" id="rootUrl" name="rootUrl" ng-model="params.rootUrl"/>

    <input type="hidden" ng-model="params.route" />
    <button class="btn btn-primary" ng-click="fetchHome(params)">Go</button>
  </form>
</div>
<div id="entity" siren-view />
  <!--<div id="view" ng-view></div>-->

      <div id="entity-modal" class="modal hide fade" tabindex="-1" role="dialog"
       aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="modal-label">Entity</h3>
        </div>
        <div class="modal-body">
          <div id="modal-properties">
          </div>
          <div id="modal-entities">
          </div>
          <div id="modal-actions">
          </div>
          <div id="modal-links">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

    </div> <!-- /container -->

    <script src="scripts/vendor/jquery-1.9.1.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>
    <script src="scripts/entity/controllers.js"></script>
    <script src="scripts/entity/module.js"></script>
    <script src="scripts/sirenView.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
